﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DDD + EF + IoC + Automapper</h1>
    <p class="lead">Exemplo de arquitetura utilizando o conceito DDD, Entity Framework, SimpleInjector e Automapper.</p>
    <p><small>Obs.: Necess&aacute;rio ter instalado o LocalDB (SqlServer)</small></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Curso</h2>
        <p>
            Exemplo de CRUD com uma tabela simples.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Curso")">Curso &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Professor</h2>
        <p>Exemplo de CRUD com uma tabela 1-N.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Professor")">Professor &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Aluno</h2>
        <p>Exemplo de CRUD com uma tabela N-N.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Aluno")">Aluno &raquo;</a></p>
    </div>
</div>