﻿@model IEnumerable<DomainDrivenDesign.Application.ViewModels.CursoViewModel>

<table class="table table-bordered table-condensed">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Selecionado)</th>
        <th>@Html.DisplayNameFor(model => model.Descricao)</th>
    </tr>
    </thead>

    <tbody>
    @foreach (var curso in Model)
    {
        <tr>
            <td>@Html.CheckBoxFor(model => curso.Selecionado, new { @Value = curso.Id })</td>
            <td>@Html.DisplayFor(item => curso.Descricao)</td>
        </tr>
    }
    </tbody>
</table>

